/*
Youngseo Yi
10/27/23
CS20-Web Programming
HW7: AJAX
Content: external style sheet for Studio Ghibli movie website
*/

/*title of the webpage*/
h1 {
    font-size:50px;
    padding: 20px;
    background-color: #2B2D42;
    color: #EDF2F4;
    font-family: "Avantgarde", "TeX Gyre Adventor", sans-serif;
}

/*div with all the films*/
.all_films {
    display: inline-block;
    text-align: center;
    border: 2px solid #2B2D42;
    background-color: #2B2D42;
}

/*the box for each individual film*/
.film {
    display: inline-block;
    text-align: center;
    border: 2px solid #EDF2F4;
    width: 300px;
    height: 500px;
    vertical-align: top;
    margin: 5px;
    background-color: #EDF2F4;
    overflow-y: auto;
}

/*the title of the movies*/
.title {
    font-weight: bold;
    font-size: 30px;
    background-color: #2B2D42;
    color: #EDF2F4;
}

/*the movie posters*/
img{
    width: 50%;
    margin: 5px;
}

/*the description of the movies*/
.desc {
    font-family: "Avantgarde", "TeX Gyre Adventor", sans-serif;
}

/*heading for "About the Page"*/
h2{
    border:  5px solid #2B2D42;
    margin-bottom: 0;
    padding: 10px;
}

/*"About the Page" section*/
p {
    font-family: "Avantgarde", "TeX Gyre Adventor", sans-serif;
    display: block;
    margin: 0;
    border: 20px solid #2B2D42;
    background-color: #EDF2F4;
    padding: 20px;
    font-size: 18px;
}


